
.container {
    display: flex;
    width: 100%; /* Ensure the container fits the full viewport width */
    height: 100vh; /* Make the container height 100% of the viewport height */
    overflow: hidden; /* Hide any overflow to ensure a clean look */
    position: relative; /* Make the container a positioning context */
}

.image-container {
    position: relative; /* Make each image container a positioning context */
    width: 50%; /* Each image container takes up half of the container's width */
    height: 100%; /* Each image container fills the container's height */

}

.image-container img {
    width: 100%; /* Image takes up the full width of its container */
    height: 100%; /* Image takes up the full height of its container */
    object-fit: cover; /* Ensure images cover the full container area while maintaining aspect ratio */
}

.image-container:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
}


.image-container h1 {
    position: absolute; /* Position the text absolutely within the image container */
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for better readability */
    font-family: 'Roboto', sans-serif; /* Example of a sleek and thin font */
    font-weight: 300; /* Use a lighter weight (e.g., 300 for Roboto Thin) */
    color: white;
}

.top-left {
    top: 10px;
    /* bottom: 10px; */
    left: 10px; /* Position at the left */
}

.bottom-right {
    bottom: 10px; /* Position at the bottom */
    right: 10px; /* Position at the right */
}

